#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}
th,
td {
  border: 1px solid grey;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #333;
}
tr:nth-child(even) {
  background-color: #222;
}
.submit-button {
  background-color: #333;
  color: white;
  border: 1px solid grey;
  padding: 10px 20px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: grey;
}
.player-scores {
  margin-top: 20px;
}
